# dependencies
/node_modules

# build output
/dist/
.vinext/
.next/

# cloudflare
.wrangler/

# agent skills
.agents/
skills-lock.json

# env files (can opt-in for committing if needed)
.env*

# generated types
next-env.d.ts

# debug
npm-debug.log*

# misc
.DS_Store
